In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import statsmodels.api as sm
import statistics as stat

from sklearn.linear_model import LinearRegression 
linear_fit = LinearRegression()

In [2]:
datafile = '../../dataset/ch08/tbill_rates_2016.txt'
rates = pd.read_csv(datafile, sep='\t')

print(rates.index)

RangeIndex(start=0, stop=83, step=1)

In [3]:
rates.info

<bound method DataFrame.info of     Year  Rate
0   1934  0.28
1   1935  0.17
2   1936  0.17
3   1937  0.28
4   1938  0.07
..   ...   ...
78  2012  0.09
79  2013  0.06
80  2014  0.03
81  2015  0.05
82  2016  0.38

[83 rows x 2 columns]>

In [4]:
len(rates)

83

In [5]:
rates.columns

Index(['Year', 'Rate'], dtype='object')

In [6]:
rates.head()

   Year  Rate
0  1934  0.28
1  1935  0.17
2  1936  0.17
3  1937  0.28
4  1938  0.07

In [7]:
year = rates.Year

In [8]:
rate = rates.Rate

In [9]:
print(f'{year.isna().sum()} data missing in Year')

0 data missing in Year

In [10]:
print(f'{rate.isna().sum()} data missing in Rate')

0 data missing in Rate

In [11]:
print(rates.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 
15, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 
65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]))

    Year   Rate
16  1950   1.20
17  1951   1.52
18  1952   1.72
19  1953   1.89
20  1954   0.94
21  1955   1.73
22  1956   2.63
23  1957   3.23
24  1958   1.77
25  1959   3.39
26  1960   2.88
27  1961   2.35
28  1962   2.77
29  1963   3.16
30  1964   3.55
31  1965   3.95
32  1966   4.86
33  1967   4.31
34  1968   5.34
35  1969   6.67
36  1970   6.39
37  1971   4.33
38  1972   4.07
39  1973   7.03
40  1974   7.83
41  1975   5.78
42  1976   4.97
43  1977   5.27
44  1978   7.19
45  1979  10.07
46  1980  11.43

In [12]:
rates = rates.drop

In [13]:
#year = rates.Year
#rate = rates.Rate

In [14]:
rates = rates[~rates.Year.isna()]
rates = rates[~rates.Rate.isna()]

AttributeError: 'function' object has no attribute 'Year'

**41. TBill rates 2016 Here are a plot and regression output showing the federal rate on 3-month Treasury bills from 1950 to 1980, and a regression model fit to the relationship between the Rate (in %) and Years Since 1950 (www.gpoaccess.gov/eop/).**

In [ ]:
#control = t_bill_rates['Year']
#response = t_bill_rates['Rate']

In [ ]:
year = rates.Year  #x: control
rate = rates.Rate #y: response

In [ ]:
linear_fit.fit(np.array(control).reshape(-1,1), 
           np.array(response));

In [ ]:
#linear_fit.fit(np.array(control).reshape(-1,1), 
           #np.array(response));
#plt.figure(figsize=(8,3));
#plt.scatter(controlt_bill_rates['Year'], responset_bill_rates['Rate'], color='maroon', s=20);
#plt.plot(control, linear_fit.predict(np.array(control).reshape(-1,1)), color='k', lw=2)
#plt.xlabel('Years Since 1950');
#plt.ylabel('Rate(%)');
#plt.xticks([1950, 1955, 1960, 1965, 1970, 1975, 1980]);
#plt.yticks([3, 12, 3]);

In [ ]:
x = np.array(year).reshape(-1, 1)
y = np.array(rate)
linear_fit.fit(x, y) 
plt.scatter(x, y, s=8, marker='o');  
plt.plot(x, linear_fit.predict(x), 'r');  
plt.xlabel('Years Since 1950');
plt.ylabel('Rate(%)');
plt.xticks([1950, 1955, 1960, 1965, 1970, 1975, 1980]);
plt.yticks([3, 12, 3]);