In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statistics as stat

In [2]:
datafile = "../../dataset/ch03/okcupid_catsdogs.txt"
okcupid = pd.read_csv(datafile, sep='\t')

In [3]:
okcupid.head()

  CatsDogsBoth Gender drugsY/N smokesY/N
0          NaN      M       No       yes
1          NaN      M      Yes        no
2     Has cats      M      NaN        no
3          NaN      M      NaN        no
4          NaN      M       No        no

In [5]:
pd.crosstab(index=okcupid.CatsDogsBoth, columns=okcupid.Gender, margins=True)

Gender           F     M    All
CatsDogsBoth
Has Both       897   577   1474
Has cats      3412  2388   5800
Has dogs      3431  3587   7018
All           7740  6552  14292

In [14]:
pd.crosstab(index=okcupid.CatsDogsBoth, columns=okcupid.Gender, 
            margins=True, normalize='columns').mul(100).round(1).astype(str) + '%'

Gender            F      M    All
CatsDogsBoth
Has Both      11.6%   8.8%  10.3%
Has cats      44.1%  36.4%  40.6%
Has dogs      44.3%  54.7%  49.1%

In [17]:
pd.crosstab(index=okcupid.CatsDogsBoth, columns=okcupid.Gender, 
            margins=True, normalize='index').mul(100).round(1).astype(str) + '%'

Gender            F      M
CatsDogsBoth
Has Both      60.9%  39.1%
Has cats      58.8%  41.2%
Has dogs      48.9%  51.1%
All           54.2%  45.8%

In [18]:
pd.crosstab(index=okcupid.CatsDogsBoth, columns=okcupid.Gender, 
            margins=True, normalize='all').mul(100).round(1).astype(str) + '%'

Gender            F      M     All
CatsDogsBoth
Has Both       6.3%   4.0%   10.3%
Has cats      23.9%  16.7%   40.6%
Has dogs      24.0%  25.1%   49.1%
All           54.2%  45.8%  100.0%