In [1]:
import pandas as pd
# from math import sqrt
from scipy.stats import chi2
import matplotlib.pyplot as plt
# from numpy import corrcoef

In [3]:
datafile = "../../dataset/ch19/tattoos.txt"
data = pd.read_csv(datafile, sep='\t')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Location         626 non-null    object
 1   Has hepatitis C  626 non-null    object
dtypes: object(2)
memory usage: 9.9+ KB

In [8]:
data.head()

            Location Has hepatitis C
0  Commercial Parlor             Yes
1  Commercial Parlor             Yes
2  Commercial Parlor             Yes
3  Commercial Parlor             Yes
4  Commercial Parlor             Yes

In [11]:
data.value_counts()

Location           Has hepatitis C
No Tattoo          No                 491
Elsewhere          No                  53
Commercial Parlor  No                  35
No Tattoo          Yes                 22
Commercial Parlor  Yes                 17
Elsewhere          Yes                  8
Name: count, dtype: int64

In [18]:
pd.crosstab(index=data.Location, columns=data['Has hepatitis C'], margins=True)

Has hepatitis C     No  Yes  All
Location
Commercial Parlor   35   17   52
Elsewhere           53    8   61
No Tattoo          491   22  513
All                579   47  626

In [19]:
Obs = pd.crosstab(index=data.Location, columns=data['Has hepatitis C'], margins=False)
Obs

Has hepatitis C     No  Yes
Location
Commercial Parlor   35   17
Elsewhere           53    8
No Tattoo          491   22

In [21]:
total = Obs.sum().sum()
total

626

In [22]:
Obs.sum(axis=1)

Location
Commercial Parlor     52
Elsewhere             61
No Tattoo            513
dtype: int64

In [23]:
total_dist = Obs.sum(axis=1) / total
total_dist

Location
Commercial Parlor    0.083067
Elsewhere            0.097444
No Tattoo            0.819489
dtype: float64

In [24]:
Exp = pd.DataFrame()

In [25]:
Exp['No'] = Obs.No.sum() * total_dist
Exp['Yes'] = Obs.Yes.sum() * total_dist

In [26]:
Exp

                           No        Yes
Location
Commercial Parlor   48.095847   3.904153
Elsewhere           56.420128   4.579872
No Tattoo          474.484026  38.515974

In [30]:
chi_square = ( ( Obs - Exp ) ** 2 / Exp ).sum().sum()
chi_square

57.91217383695929

In [29]:
df = 2 * 1

In [31]:
pval = 1 - chi2.cdf(chi_square, df)

In [32]:
pval

2.657873920952625e-13