In [1]:
import pandas as pd
# from math import sqrt
from scipy.stats import chi2
import matplotlib.pyplot as plt
# from numpy import corrcoef

In [2]:
datafile = "../../dataset/ch19/zodiac.txt"
data = pd.read_csv(datafile, sep='\t')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sign      12 non-null     object
 1   Births    12 non-null     int64
 2   Expected  12 non-null     float64
 3   Residual  12 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 516.0+ bytes

In [4]:
data

           Sign  Births  Expected  Residual
0        Pisces      29    21.333     7.667
1      Aquarius      24    21.333     2.667
2         Aries      23    21.333     1.667
3        Cancer      23    21.333     1.667
4     Capricorn      22    21.333     0.667
5       Scorpio      21    21.333    -0.333
6        Taurus      20    21.333    -1.333
7           Leo      20    21.333    -1.333
8   Saggitarius      19    21.333    -2.333
9         Virgo      19    21.333    -2.333
10        Libra      18    21.333    -3.333
11       Gemini      18    21.333    -3.333

In [5]:
chi2score = ( ( data.Births - data.Expected ) **2 / data.Expected ).sum()
chi2score

5.093829653588338

In [6]:
pval = 1 - chi2.cdf(chi2score, 11)
pval

0.9265373894155587

In [ ]:
# fail to reject