In [1]:
import pandas as pd
# from math import sqrt
from scipy.stats import chi2
import matplotlib.pyplot as plt
# from numpy import corrcoef

In [2]:
datafile = "../../dataset/ch19/ballplayer_births.txt"
data = pd.read_csv(datafile, sep='\t')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ballplayer Count  12 non-null     int64
 1   Month             12 non-null     int64
dtypes: int64(2)
memory usage: 324.0 bytes

In [4]:
data

    Ballplayer Count  Month
0                137      1
1                121      2
2                116      3
3                121      4
4                126      5
5                114      6
6                102      7
7                165      8
8                134      9
9                115     10
10               105     11
11               122     12

In [12]:
ballplayers = data['Ballplayer Count'].sum()
ballplayers.sum()

1478

In [8]:
data['National Birth Percent'] = [0.08, 0.07, 0.08, 0.08, 0.08, 0.08, 0.09, 0.09, 0.09, 0.09, 0.08, 0.09]

In [9]:
data['Expected'] = data['National Birth Percent'] * ballplayers

In [10]:
data

    Ballplayer Count  Month  National Birth Percent  Expected
0                137      1                    0.08    118.24
1                121      2                    0.07    103.46
2                116      3                    0.08    118.24
3                121      4                    0.08    118.24
4                126      5                    0.08    118.24
5                114      6                    0.08    118.24
6                102      7                    0.09    133.02
7                165      8                    0.09    133.02
8                134      9                    0.09    133.02
9                115     10                    0.09    133.02
10               105     11                    0.08    118.24
11               122     12                    0.09    133.02

In [11]:
data['Expected'].sum()

1478.0

In [14]:
chi2score = ((data['Ballplayer Count']-data['Expected']) ** 2 / data['Expected']).sum()
chi2score

26.48442232102583

In [16]:
pval = 1 - chi2.cdf(chi2score, 11)
pval

0.005494028084185865

In [ ]:
# reject